<%- include('../inc/nav_menu')%>

    <!-- form -->
    <div class="title_body bg-light">Thêm sản phẩm</div>
    <% if(msg.length> 0){%>
        <p class="alert alert-info">
            <%= msg %>
        </p>
        <%}%>
            <!-- Form Thêm sản phẩm -->
            <form method="post" action="" enctype="multipart/form-data" class="container-fluid bg-body-secondary">
                <!-- Tên sản phẩm -->
                <div class="form-group">
                    <label for="name" class="col-form-label-lg">Tên sản phẩm</label>
                    <input class="form-control" type="text" name="name" placeholder="Tên sản phẩm" required />
                </div>
                <div class="form-group">
                    <label for="theloai" class="col-form-label-lg">Loại sản phẩm</label><br>
                    <select required name="category" style="height: 40px; ">
                        <%listCategory.forEach(row=> {%>
                            <option value="<%= row.id %>">
                                <%= row.name %>
                            </option>
                            <%})%>
                    </select>
                </div>
                <div class="form-group">
                    <label for="files" class="col-form-label-lg">Hình ảnh</label>
                    <div class="custom-file">
                        <input type="file" name="imageProduct" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="desc" class="col-form-label-lg">Giá sản phẩm</label>
                    <input class="form-control" id="desc" type="text" name="price" required />
                </div>
                <div class="form-group">
                    <label for="desc" class="col-form-label-lg">Mô tả sản phẩm</label>
                    <input class="form-control" type="text" id="desc" name="desc" required />
                </div>
                <button class="btn btn-outline-success" type="submit" style="margin-top: 20px">
                    Xác nhận
                </button>

            </form>

            </body>

            </html>