
#details{
  padding-top: 50px;
}
.card {
    background-color: rgb(185, 121, 37);
    width: 50%;
    position: absolute;
    background: white;
    left: 25%;
    
    margin: 0 auto;
}
    .photo {
      
      padding-left: 20px;
      width: 45%;
      text-align: center;
      float: left;
      
  
      
    }
.imageProduct{
      width: 200px;
      height: 200px;
      max-width: 200px;
      float: left;
    }
    .description {
  
       padding: 30px;
       float: left;
       width: 55%;
       border-left: 2px solid #efefef;
    }
  