<%- include('../inc/nav_menu')%>
    <div class="title_body">Sửa loại sản phẩm</div>
    <% if(msg.length> 0){%>
        <p class="alert alert-info">
            <%= msg %>
        </p>
        <%}%>
            <form method="post" class="container-fluid bg-body-secondary" action="">
                <!-- Tên sản phẩm -->
                <div class="form-group">
                    <label for="name" class="col-form-label-lg">Tên thể loại</label>
                    <input class="form-control" type="text" name="name" placeholder="Tên loại sản phẩm"
                        value="<%= product.name %>" required />
                </div>

                <div class="form-group">
                    <label for="name" class="col-form-label-lg">Tên sản phẩm</label>
                    <input class="form-control" type="text" name="des" placeholder="Tên sản phẩm" required
                        value="<%= product.des %>" />
                </div>
                <button class="btn btn-outline-success" type="submit" style="margin-top: 20px">
                    Xác nhận
                </button>
            </form>
            </body>

            </html>